
@{
    ViewBag.Title = "Confirm";
}
<h1 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;">Welcome to the MSSA program!</h1>
<h2>Thank you for confirming your email!!!...</h2>
<h3>Email: "@ViewBag.Email"</h3>

