@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Email Confirmation Service</h1>
    <p class="lead">This website was created to streamline the in-proccessing of new MSSA students!</p>
    <p><a href="http://localhost:57296/Spreadsheet/Upload" class="btn btn-primary btn-lg">Start Uploading &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Welcome to the wonderful world of email confirmation! After uploading a template, the service will send an email that your recipients can use to verify their emails.
        </p>
        <ol>
            <li>Format spreadsheet</li>
            <li>Upload spreadsheet</li>
            <li>Emails will send automatically</li>
            <li>As participants confirm, the "My Spreadsheets" page will update</li>
        </ol>
    </div>
    <div class="col-md-8">
        <img src="~/Files/Picture.PNG" class="img-responsive"/>
    </div>
</div>